СОГЛАШЕНИЕ О КОНФИДЕНЦИАЛЬНОСТИ (NDA)
в отношении объекта интеллектуальной собственности: {{ ip_object.title }}

г. Москва

Стороны:
1. {{ owner_name }} ("Раскрывающая сторона")
2. {{ counterparty.name }} ("Получающая сторона")

1. ПРЕДМЕТ СОГЛАШЕНИЯ
{{ ai_content.subject }}

2. КОНФИДЕНЦИАЛЬНАЯ ИНФОРМАЦИЯ
{{ ai_content.confidential_info }}

3. ОБЯЗАТЕЛЬСТВА ПОЛУЧАЮЩЕЙ СТОРОНЫ
{{ ai_content.obligations }}

4. ОТВЕТСТВЕННОСТЬ И СРОК ДЕЙСТВИЯ
В случае разглашения Конфиденциальной информации Получающая сторона обязуется возместить все понесенные убытки. Настоящее Соглашение действует в течение 5 лет с момента подписания.

ПОДПИСИ СТОРОН:

Раскрывающая сторона:                          Получающая сторона:
{{ owner_name }}                               {{ counterparty.name }}
_____________________                          _____________________ 
